<div class="list-group list-group-flush mx-3 mt-4">
    <a href="#" class="list-group-item ">

        <i class="fa-solid fa-house-chimney me-3"></i><span>Alojamientos en Córdoba</span>
    </a>
    <a href="#" class="list-group-item  ">
        <i class="fa-solid fa-mountain-sun me-3"></i><span>Circuitos Turisticos</span>
    </a>
    <a href="#" class="list-group-item ">
        <i class="fa-solid fa-spa me-3"></i><span>Productos Turisticos</span>
    </a>
    <a href="#" class="list-group-item ">
        <i class="fa-solid fa-person-shelter me-3"></i><span>Servicios</span>
    </a>


</div>